body {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  border-radius: 25%;
  margin: 10%;
  padding: 2%;
  box-shadow: 0 0 1rem 0.5rem;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionContainer {
  height: 80%;
}

.start-btn {
  font: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.hide {
  display: none;
}
