body {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz {
  background-color: lightgray;
  border-radius: 25%;
  padding: 5%;
  box-shadow: 0 0 1rem 0.5rem;
  height: 60vh;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.score {
  padding: 1%;
  background-color: white;
}

.end {
  padding: 1%;
}